.items{
    border:  4px solid black;
    border-radius: 10px;
    width: 250px;
    /* height: 250px; */
    margin: 5px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items>img{
    width: 100px;

}