
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(55, 240, 9);
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item>h1{
    color: red;
}
