.image-container {
    width: 80%;
    height: 400px;
    border: 5px solid rgb(144, 220, 14);
    border-radius: 10px;
    overflow: hidden;
}

.image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    width: 100px;
    margin-top: 10px;
    color: rgb(85, 57, 57);
    background-color: rgb(240, 240, 39);
    cursor: pointer;
}