
.container{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.container>p{
    text-align: center;
}